{% extends 'project/basic.html' %}

{% block title %}Upload{%endblock%}

{%block css%}
.avatar-pic {
width: 150px;
}
{%endblock%}

{% block body %}
   <!-- <h1>create wroks</h1>
   <form class="" action="/create/" method="post">
     {% csrf_token %}
     {{form.as_p}}
     <button type="submit" name="save" value="save">Save</button>

   </form> -->

   {% if messages %}
      {% for message in messages %}
         {{message}}
      {% endfor %}
   {% endif %}

<div class="container">


  <h1>welcome to procollab</h1>
</div>

{% endblock %}
